body {
    font-family: Georgia, serif;
    background-color: #f5f5f5;
}

.container {
    width: 50%;        
    max-width: 700px;  
    margin: 50px auto;
    padding: 40px;
    background: white;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
    letter-spacing: 3px;
}

h3 {
    text-align: center;
    color: #1a4c8b;
    letter-spacing: 2px;
}

p {
    line-height: 1.6;
    
}

.italic {
    font-style: italic;
}

ol {
    margin-left: 20px;
    line-height: 1.6;
}

img {
    display: block;
    margin: 40px auto 0;
    width: 120px;
}
.header-img {
    width: 100%;
    display: block;
    margin-bottom: 30px;
}
ol li {
    margin-bottom: 15px;
    line-height: 1.6;
}
.dark-mode {
    background-color: black;
    color: white;
}